@model DrinkUpProject.Models.ViewModels.UserHomeVM
<div id="recentlySavedBox">
    @if (Model.RecentlySaved != null)
    {
        @foreach (var item in Model.RecentlySaved)
        {
            <div class="recentlySavedPosts">

                <div>
                    <span>@item.DrinkName</span>
                    <img src="@item.ImgUrl" />
                </div>

            </div>

            //repeating for testing purpose

            <div class="recentlySavedPosts">

                <div>
                    <span>@item.DrinkName</span>
                    <img src="@item.ImgUrl" />
                </div>

            </div>
            <div class="recentlySavedPosts">

                <div>
                    <span>@item.DrinkName</span>
                    <img src="@item.ImgUrl" />
                </div>

            </div>
            <div class="recentlySavedPosts">

                <div>
                    <span>@item.DrinkName</span>
                    <img src="@item.ImgUrl" />
                </div>

            </div>
        }
    }
</div>
