@model DrinkUpProject.Models.ViewModels.GuestResultVM[]





<div id="searchBox">
    @foreach (var item in Model)
    {
    <div class="searchItems">
        <a asp-controller="User" asp-action="Recipe" method="get" asp-route-id="@item.DrinkId">
            <div id="searchImg">
                @*<button type="submit"><img src="@item.DrinkImg" /></button>*@
                <img src="@item.DrinkImg" />
            </div>

            <div>

                <h3>@item.DrinkName</h3>

                <br />
                <h4>
                    @item.DrinkInfoShort
                </h4>
                <br />
            </div>

        </a>
        </div>
    }
</div>

