@model DrinkUpProject.Models.ViewModels.AccountMyPageAsyncVM



<div class="all">
    <div class="container" style="padding-top: 20px">
        <div class="row">
            <div class="col-sm-8">

                <h5 class="text-success">My Awesome Drinks</h5>
                <div id="userDrinkList">
                    @if (Model.DrinkList != null)
                    {

                        @foreach (var item in Model.DrinkList)
                        {

                            <div class="drinkListItems">
                                <a asp-action="Recipe" asp-controller="User" asp-route-id="@item.idDrink">
                                    <div>
                                        <span>@item.strDrink </span>
                                        <div id="searchImg2">
                                            <img src="@item.strDrinkThumb" />
                                        </div>
                                    </div>
                                </a>
                            </div>
                        }
                    }
                </div>
            </div>
            <div id="userInfo" class="col-sm-3">
                <p class="Button">Favourite Drink: @Model.FavDrink</p>
                <p class="Button">First Name: @Model.FirstName</p>
                <p class="Button">Last Name: @Model.LastName</p>
                <p class="Button">Email: @Model.Email</p>
                <p class="Button">Username: @Model.UserName</p>
                <form>
                    <input class="btn btn-outline-primary" type="submit" name="EditProfileButton" value="Edit Profile" />
                </form>
            </div>
        </div>
    </div>
</div>
