@model DrinkUpProject.Models.ViewModels.AccountMyPageAsyncVM



<div class="all">
    <div class="container">
        <div class="row">
            <div class="col-sm">

                <h5 class="text-success">My Awesome Drinks</h5>

                @if (Model.DrinkList != null)
                {

                    @foreach (var item in Model.DrinkList)
                    {
                        <div class="drinkList">

                            <div>
                                <span>@item.strDrink</span>
                                <img src="@item.strDrinkThumb" />
                            </div>

                        </div>
                    }
                }
            </div>
            <div class="col-sm">
                <p class="Button">Favourite Drink: @Model.FavDrink</p>
                <p class="Button">First Name: @Model.FirstName</p>
                <p class="Button">Last Name: @Model.LastName</p>
                <p class="Button">Email: @Model.Email</p>
                <p class="Button">Username: @Model.UserName</p>
                <form>
                    <input class="btn btn-outline-primary" type="submit" name="EditProfileButton" value="Edit Profile" />
                </form>
            </div>
        </div>
    </div>
</div>

