@model DrinkUpProject.Models.ViewModels.AccountMyPageAsyncVM

<div class="all">
    <div>
        User drinklist
    </div>
    <div>
        <img src="~/Imgs/Logo.png" /><br />

        <h5>My Drinks</h5>

        @if (Model.DrinkList != null)
    {

        @foreach (var item in Model.DrinkList)
    {
        <div class="drinkList">

            <div>
                <span>@item.strDrink</span>
                <img src="@item.strDrinkThumb" />
            </div>

        </div>
}
}

        <br />
        <p class="Button">Favourite Drink: @Model.FavDrink</p>
        <p class="Button">First Name: @Model.FirstName</p>
        <p class="Button">Last Name: @Model.LastName</p>
        <form>
            <input class="Button" type="submit" name="EditProfileButton" value="Edit Profile" />
        </form>
        <br />
        <br />
        <form asp-controller="User" asp-action="MyPage">
            <input class="Button" type="submit" name="BackToHomeButton" value="Back To Home" />
        </form>
    </div>
</div>
