@model DrinkUpProject.Models.ViewModels.AccountMyPageAsyncVM



<div class="all">
    <div class="container">
        <div class="row">
            <div class="col-sm-9">

                <h5 class="text-success">My Awesome Drinks</h5>
                <div id="userDrinkList">
                    @if (Model.DrinkList != null)
                    {

                        @foreach (var item in Model.DrinkList)
                        {
                            <div class="drinkListItems">

                                <div>
                                    <span>@item.strDrink</span>
                                    <div id="searchImg2">
                                        <img src="@item.strDrinkThumb" />
                                    </div>
                                </div>

                            </div>
                        }
                    }
                </div>
            </div>
            <div class="col-sm-3">
                <p class="Button">Favourite Drink: @Model.FavDrink</p>
                <p class="Button">First Name: @Model.FirstName</p>
                <p class="Button">Last Name: @Model.LastName</p>
                <p class="Button">Email: @Model.Email</p>
                <p class="Button">Username: @Model.UserName</p>
                <form>
                    <input class="btn btn-outline-primary" type="submit" name="EditProfileButton" value="Edit Profile" />
                </form>
            </div>
        </div>
    </div>
</div>
